body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 133, 0, 0.52);
    margin-top: 200px;
    font-family: "Calibri", sans-serif;

}
.registration-cssave {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 350px;
    margin: 0 50px 0 50px;
    border-radius:15px;
    padding:60px 20px 60px 20px;
    font-size:17px;
    font-weight: normal;
    background-color: rgba(166, 86, 0, 0.34);
    color: rgba(255, 255, 255, 0.87);

}

#name {
    color: rgba(54, 44, 44, 0.96);
    font-size: 17px;
    outline: none;
    display: block;
    height: 30px;
    width: 200px;
    border-radius: 7px;
    border: none;
    margin-top: 11px;
    background-color: rgba(255, 255, 255, 0.73);
    padding: 0 17px 0 17px;


}

#email {
    color: rgba(54, 44, 44, 0.96);
    font-size: 17px;
    outline: none;
    display: block;
    height: 30px;
    width: 200px;
    border-radius: 7px;
    border: none;
    margin-top: 11px;
    background-color: rgba(255, 255, 255, 0.73);
    padding: 0 17px 0 17px;

}

#password {
    color: rgba(54, 44, 44, 0.96);
    font-size: 17px;
    outline: none;
    display: block;
    height: 30px;
    width: 200px;
    border-radius: 7px;
    border: none;
    margin-top: 11px;
    background-color: rgba(255, 255, 255, 0.73);
    padding: 0 17px 0 17px;
}

#confirmPassword {
    color: rgba(54, 44, 44, 0.96);
    font-size: 17px;
    outline: none;
    display: block;
    padding: 0 17px 0 17px;
    height: 30px;
    width: 200px;
    border-radius: 7px;
    border: none;
    margin-top: 11px;
    background-color: rgba(255, 255, 255, 0.73);
}


#register {
    background-color: #A65600;
    height: 40px;
    outline: none;
    width: 100%;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.79);
    border: none;
    border-radius: 7px;
    margin-top: 20px;
}
#register:hover {
    background-color: #FF5900;
}




label {
    font-size: 20px;
    margin-bottom: 10px;
    width: 50px;

}

.message-container {
    display: flex;
    padding: 0 20px 0 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.error-message {
    outline: none;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    background-color: #FF5900;
    display: block;
    color: rgba(255, 255, 255, 0.79);
    font-size: 17px;
    margin-top: 5px;
}

.success-message {
    outline: none;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    background-color: #67da69;
    display: block;
    color: rgba(255, 255, 255, 0.94);
    font-size: 17px;
    margin-top: 5px;
}

