body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 133, 0, 0.52);
    margin-top: 200px;
    font-family: "Calibri", sans-serif;

}
.registration-cssave {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 350px;
    margin: 0;
    border-radius:15px;
    padding:60px 20px 60px 20px;
    font-size:17px;
    font-weight: normal;
    background-color: rgba(166, 86, 0, 0.34);
    color: rgba(255, 255, 255, 0.87);
}

#name {
    outline: none;
    display: block;
    height: 30px;
    width: 200px;
    border-radius: 7px;
    border-color: unset;
    border: none;
    margin-top: 11px;
    background-color: rgba(255, 255, 255, 0.73);


}

#email {
    display: block;
    height: 30px;
    border-radius: 7px;
    border-color: unset;
    width: 200px;
    border: none;
    margin-top: 11px;
    background-color: rgba(255, 255, 255, 0.73);

}

#password {
    display: block;
    height: 30px;
    border-radius: 7px;
    border-color: unset;
    border: none;
    margin-top: 11px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.73);
}

#confirmPassword {
    display: block;
    height: 30px;
    border-radius: 7px;
    border-color: unset;
    border: none;
    margin-top: 11px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.73);
}


#register {
    background-color: #A65600;
    height: 40px;
    width: 200px;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.79);
    border: none;
    border-radius: 7px;
    margin-top: 20px;
}
#register:hover {
    background-color: #FF5900;
}




label {
    font-size: 20px;
    margin-bottom: 10px;
    width: 50px;

}

